<div id="<%= dom_id book %>">
  <h2>
    <strong>ID:</strong>
    <%= book.id %>
  </h2>
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= book.location %>
  </p>

  <p>
    <strong>Link:</strong>
    <a href="<%= book.link %>"><%= book.link %></a>

  </p>



</div>
