<div id="<%= dom_id loan %>">
  <p>
    <strong>Book:</strong>
    <%= loan.book_id %>
  </p>

  <p>
    <strong>Student name:</strong>
    <%= loan.student_name %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= loan.student_id %>
  </p>

  <p>
    <strong>Date out:</strong>
    <%= loan.date_out %>
  </p>

  <p>
    <strong>Date in:</strong>
    <%= loan.date_in %>
  </p>

</div>
